# Python
__pycache__
.ipynb_checkpoints
.DS_Store

# Share Storage
!share_storages/lab
!share_storages/data
share_storages/data/dataset/*
!share_storages/data/dataset/.gitkeep

share_storages/data/model/cat-dog
share_storages/data/model/cat-dog.h5

# Jupyterlab
jupyterlab/config/lab/*
jupyterlab/config/migrated


